In [36]:
import pandas as pd
df = pd.read_csv('StudentsPerformance.csv')

In [37]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [38]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

podsumowanie jednej kolumny

In [39]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

int64 - integer, 64 bity
and now wyświetlenie częściowe

In [40]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [41]:
# wyświetlamy sobie teraz wszytskie 1000 linijek; zmuszamy go do tego za pomocą pętli
for element in df['lunch']:
    print (element)

standard
standard
standard
free/reduced
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
free/reduced
standard
standard
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
free/reduced
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
standard
standard
free/reduced
free/reduced
standard
free/reduced
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
free/reduced
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
standard
standard
free/reduced
free/reduced
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
free/reduced
standard
free/reduced
standard
free/reduced
free/reduced
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
standard
free/reduced
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
free/reduced
standard
standard
free/reduced
free/reduced
standard
free/reduced
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
free/reduced
standard
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
standard
free/reduced
standard
free/reduced
free/reduced
standard
free/reduced
standard
free/reduced
standard
free/reduced
free/reduced
standard
standard
standard
standard
free/reduced
free/reduced
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
standard
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
standard
free/reduced
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
free/reduced
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
standard
free/reduced
standard
standard
standard
free/reduced
standard
free/reduced
free/reduced
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
free/reduced
free/reduced
standard
free/reduced
standard
free/reduced
standard
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
standard
free/reduced
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
free/reduced
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
free/reduced
free/reduced
standard
free/reduced
free/reduced
free/reduced
free/reduced
free/reduced
free/reduced
free/reduced
free/reduced
standard
free/reduced
standard
free/reduced
standard
standard
free/reduced
standard
standard
free/reduced
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
standard
standard
free/reduced
standard
standard
standard
free/reduced
standard
standard
standard
standard
standard
standard
standard
free/reduced
free/reduced
free/reduced
standard
free/reduced
free/reduced
standard
standard
free/reduced
free/reduced
standard
free/reduced

wyświetlanie nazw kolumn (żeby sprawdzić czy dane zostały poprawnie wczytane; czy nie pomieszały się nazwy kolumn alb coś)

In [42]:
columns = df.columns
columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

sortowanie

In [43]:
df.sort_values(['math score'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97
962,female,group E,associate's degree,standard,none,100,100,100
149,male,group E,associate's degree,free/reduced,completed,100,100,93

In [44]:
df.sort_values(['math score', 'writing score'])
#najpierw sortuje po wyniku z matmy, a jeśli jest taki sam, to bierze pod uwagę wynik z pisania

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
451,female,group E,some college,standard,none,100,92,97
625,male,group D,some college,standard,completed,100,97,99
458,female,group E,bachelor's degree,standard,none,100,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100

uwaga, on jak sortuje to tylko wyświelta posortowane, nie zapisze tego, dopóki nie przypiszemy tego do nowej zmiennej

In [45]:
new_df = df.sort_values(['math score', 'writing score'])

In [46]:
new_df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
451,female,group E,some college,standard,none,100,92,97
625,male,group D,some college,standard,completed,100,97,99
458,female,group E,bachelor's degree,standard,none,100,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100

In [47]:
#dodawanie nowej kolumny i przypisanie jej wartości
df['Total score'] = 0

In [48]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,0
2,female,group B,master's degree,standard,none,90,95,93,0
3,male,group A,associate's degree,free/reduced,none,47,57,44,0
4,male,group C,some college,standard,none,76,78,75,0
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,0
996,male,group C,high school,free/reduced,none,62,55,55,0
997,female,group C,high school,free/reduced,completed,59,71,65,0
998,female,group D,some college,standard,completed,68,78,77,0
999,female,group D,some college,free/reduced,none,77,86,86,0

sumowanie elementów
NAJPIERW WIERSZE, POTEM KOLUMNY

In [49]:
df['Total score'] = df.iloc[:, 5:8].sum(axis=1)
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282
996,male,group C,high school,free/reduced,none,62,55,55,172
997,female,group C,high school,free/reduced,completed,59,71,65,195
998,female,group D,some college,standard,completed,68,78,77,223
999,female,group D,some college,free/reduced,none,77,86,86,249

In [50]:
new_df['Total score'] = df.iloc[:, 5:8].sum(axis=1)
#sumowanie dla kolumn od 5 do 8 (czyli 6, 7, 8)

In [51]:
new_df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total score
59,female,group C,some high school,free/reduced,none,0,17,10,27
980,female,group B,high school,free/reduced,none,8,24,23,55
17,female,group B,some high school,free/reduced,none,18,32,28,78
787,female,group B,some college,standard,none,19,38,32,89
145,female,group C,some college,free/reduced,none,22,39,33,94
...,...,...,...,...,...,...,...,...,...
451,female,group E,some college,standard,none,100,92,97,289
625,male,group D,some college,standard,completed,100,97,99,296
458,female,group E,bachelor's degree,standard,none,100,100,100,300
916,male,group E,bachelor's degree,standard,completed,100,100,100,300
962,female,group E,associate's degree,standard,none,100,100,100,300

usuwanie kolumny
(axis = 1; znaczy, ze usuwamy po kolumnach)

In [53]:
df=df.drop(['Total score'], axis = 1)

In [54]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86